<a href="https://colab.research.google.com/github/DeepakRautella/google_collab/blob/main/ineuron_ppt_assignment9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<aside>
💡 **Question 1**

Given an integer `n`, return *`true` if it is a power of two. Otherwise, return `false`*.

An integer `n` is a power of two, if there exists an integer `x` such that `n == 2x`.

**Example 1:**
Input: n = 1

Output: true

**Example 2:**
Input: n = 16

Output: true

**Example 3:**
Input: n = 3

Output: false

</aside>

In [7]:
def is_power_of_two_recursive(n):
    if n == 1:
        return True
    elif n <= 0 or n % 2 != 0:
        return False
    else:
        return is_power_of_two_recursive(n // 2)

In [12]:
is_power_of_two_recursive(1)

True

In [13]:
is_power_of_two_recursive(16)

True

In [11]:
is_power_of_two_recursive(3)

False

<aside>
💡 **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3

Output: 6

**Example 2:**

Input  : 5

Output : 15

</aside>

In [5]:
def sum_of_natural_numbers(n):
    return (n * (n + 1)) // 2

In [6]:
sum_of_natural_numbers(5)

15

<aside>
💡 **Question 3**

****Given a positive integer, N. Find the factorial of N.

**Example 1:**

Input: N = 5

Output: 120

**Example 2:**

Input: N = 4

Output: 24

</aside>

In [14]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

In [15]:
factorial(5)

120

In [16]:
factorial(4)

24

<aside>
💡 **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :**

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

</aside>

In [17]:
def power(N, P):
    if P == 0:
        return 1
    else:
        return N * power(N, P - 1)

In [18]:
power(5,2)

25

<aside>
💡 **Question 5**

Given an array of integers **arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

</aside>

In [22]:
def find_max(arr):
    if len(arr) == 1:
        return arr[0]
    else:
        return max(arr[0], find_max(arr[1:]))

In [23]:
find_max([1, 4, 45, 6, 10, -8])

45

<aside>
💡 **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

</aside>

In [24]:
def nth_term(a, d, N):
    if N == 1:
        return a
    else:
        return nth_term(a + d, d, N - 1)

In [25]:
nth_term(2,5,10)

47

<aside>
💡 **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = “ABC”*

***Output:***

*“ABC”, “ACB”, “BAC”, “BCA”, “CBA”, “CAB”*

**Example 2:**

***Input:***

*S = “XY”*

***Output:***

*“XY”, “YX”*

</aside>

In [28]:
def permutations(S, left, right):
    if left == right:
        print(''.join(S))
    else:
        for i in range(left, right + 1):
            S[left], S[i] = S[i], S[left]  # Swap characters
            permutations(S, left + 1, right)  # Recursive call
            S[left], S[i] = S[i], S[left]  # Backtrack, restore original order

# Main function to call the permutations function
def generate_permutations(S):
    permutations(list(S), 0, len(S) - 1)

In [29]:
generate_permutations("ABC")

ABC
ACB
BAC
BCA
CBA
CAB

<aside>
💡 **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

</aside>

In [30]:
def array_product(arr, index):
    if index == len(arr):
        return 1
    else:
        return arr[index] * array_product(arr, index + 1)

In [32]:
array_product([1,2,3,4,5],0)

120